@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

html, body {
  height: 100%;
}
body {
  font-family: 'DM Sans', sans-serif;;
  font-size: 1.2rem;
  color: #181818;
  background-color: #FFFFFF;  
}

main {
  z-index: 1;
}

.p-black {
  color: #181818;
}

#app {
  background-color: #FFFFFF;
}

.book-icon {
  position: relative;
}
.book-icon .icon-title {
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0px;
  background: rgba(0,0,0,0.1);
  transition: opacity 0.4s ease-in-out;
}

.book-icon:hover .icon-title {
  opacity: 1;
}

.icon {
  width: 240px;
  height: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}

.page-exit {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

.nav-icon {
  max-height: 80px;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.load-enter {
  opacity: 0;
}

.load-enter-active {
  opacity: 1;
  transition: opacity 400ms linear  800ms;
}

.load-exit {
  opacity: 1;
}

.load-exit-done {
  display: none;
}

.load-exit-active {
  opacity: 0;
  transition: opacity 400ms linear 800ms;
}

.loader-container {
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.loader {
  width: 200px;
  height: 100px;
  overflow: hidden;
  position: relative;
}

a {
  outline: 0;
}
.image-container {
  opacity: 0;
  padding-bottom: 56%;
  background-position: center;
  background-size: cover;
}

.placeholder {
  padding-bottom: 56%;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.loaded-image {
  opacity: 1;
  transition: opacity 400ms linear 1s; 
  width: 100%; 
}

.header {
  padding-bottom: 31% !important;
}

.links:hover {
  text-decoration: underline;
}

.icon-image {
  padding-bottom: 100%;
}

@media screen and (min-width: 60em) {

  /* .home-copy {
    max-height: 350px;
  } */
}
